@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: url('https://images.pexels.com/photos/31229571/pexels-photo-31229571.jpeg') center center / cover no-repeat fixed;
  background-attachment: fixed; /* Keeps it still on scroll (parallax feel) */
}
